Requirements For The Program
1. Python 3.12.4
2. JDK Development Kit 22.0.1
3. Pyspark 3.5.1
4. Pandas
5. Matplotlib
6. Seaborn
7. Scikit-learn
9. google.generativeai using pip
10. Flask
11. Scipy
12. io
13. base64
14. Internet Connection
